# Containers data:
/executando-app-web-com-docker/jellyfin/config
/executando-app-web-com-docker/jellyfin/media
/executando-app-web-com-docker/postgres/postgres-data

# MAC trash
.DS_Store
*/.DS_Store

# IDEs
.idea
.vscode

